.App {
  text-align: center;
}

.explanation {
  margin-left: 5px;
  vertical-align: middle;
}

#wrapper {
  background: #ccc;
  margin: 0 auto;
  text-align: center;
}

.box{
  display: inline-block;
  margin: 0;
}
#left {
  /* float: left; */
}

#right {
  /* float: left; */
  padding: 10px;
}

.outer {
  overflow: hidden;
  position: relative;
}

.CircularProgressbar {
  position: absolute;
  width: 300vh !important;
  /* right: -50%; */
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.background{
  background-color: #999999;
  position: absolute;
  /* height: 200%; */
  top: 0%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}